# common tasks (all operating systems)
- name: Run oh-my-zsh install script.
  raw: sh -c "$(curl -fsSL {{oh_my_zsh_install_url}})"

- name: Modify oh-my-zsh plugins.
  lineinfile:
    dest: "{{ansible_env.HOME}}/.zshrc"
    line: plugins=({{oh_my_zsh_plugins}})
    regexp: ^plugins=

- name: Create git template directories.
  file: name={{ansible_env.HOME}}/.config/git state=directory

- name: Copy git templates.
  template: src={{item.key}} dest={{item.value}}
  with_dict:
    ../templates/git/ignore.j2: "{{ansible_env.HOME}}/.config/git/ignore"
    ../templates/git/config.j2: "{{ansible_env.HOME}}/.gitconfig"
