# common tasks (all operating systems)

- include: homebrew.yml
  when: ansible_os_family == 'Darwin'
  tags: [brew]

- include: sublime.yml
  when: ansible_os_family == 'Darwin'
  tags: [subl]

- include: zsh.yml
  tags: [zsh]

- include: git.yml
  tags: [git]
